* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: url(../images/login.png) no-repeat;
  background-size: cover;
}
/* container styling */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* shopping cart styling */
.shopping-cart_icon {
  position: absolute;
  top: 150px;
  /* border: 2px solid black; */
}

/* form styles */
.form .form-input {
  height: 40px;
  width: 300px;
  position: relative;
  margin-top: 15px;
}
.form-input input {
  background: transparent;
  width: 100%;
  border: 0.5px solid #fff;
  border-radius: 0.3rem;
  padding-left: 2.5rem;
  height: 100%;
  outline: none;
}
.form-input .icon {
  position: absolute;
  left: 10px;
  top: 30%;
  color: #fff;
}
.form .form-input input::-webkit-input-placeholder {
  color: white;
  padding-left: 30px;
  font-weight: lighter;
}

.form .button {
  margin-top: 45px;
  height: 40px;
}
/* End of form styles */

/* button styles */
.button input {
  width: 300px;
  height: 100%;
  border-radius: 0.3rem;
  color: #2148c0;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
  transition: ease 0.3s all;
}
.button input:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

/* forgot password styles */
.forgot_password {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.forgot_password a {
  text-decoration: none;
  color: #fff;
}
